---
layout: project.njk
---

{% block content %}
<div class="project-page centered">
  <div class="project-content">
    <p>To show off the input system capabilities, I created CyberSurfer, a hoverboard racing game currently in Early Access on Steam.</p>

    <div class="video-container">
      <iframe width="480" height="270" src="https://www.youtube.com/embed/C_C8NKgEbKs?si=czY9OFGxH765JNnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <a href="{{ steamURL }}" class="project-button">View on Steam</a>

    <p>Designed from the ground up we implemented our own input system giving players more control over their movement.</p>
    <img src="/media/cybersurfer/inputsystem.gif" alt="Input System" class="ritch-image" />

    <p> We also implemented a custom QR code service to easily connect to desktop applications, reducing setup time for players.</p>
    <video width="100%" controls>
        <source src="/media/cybersurfer/qrcode-generation.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

<br>
  <h2>VR Cyberboard</h2>
    <p> If you want to learn more about the VR Cyberboard, please contact me through <a href="calebvaccaro@cybersurferllc.com">email</a> or <a href="https://www.linkedin.com/in/caleb-vaccaro-3a7707120/">LinkedIn</a> to access the video.</p>
<iframe  class="ritch-image" src="https://player.vimeo.com/video/906303769?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1280" height="400" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="CyberBoard Demo"></iframe>
  <div class="project-social-links">
    <a href="https://www.cybersurfergame.com/" class="project-button">Website</a>
    <a href="https://twitter.com/CyberSurferGame" class="project-button">Twitter</a>
    <a href="https://www.youtube.com/c/YourChannel" class="project-button">YouTube</a>
  </div>
</div>
{% endblock %}