---
layout: layout.njk
---
{% block content %}
<div class="home-page">
  <img src="/media/home/home.jpg" alt="Caleb Vaccaro" class="home-image">
  
  <h1 class="home-title">Welcome to My Portfolio</h1>
  <p class="home-text">Hi, I'm Caleb Vaccaro, a game developer dedicated to pushing the boundaries of physical and virtual worlds through my work on mixed reality applications. I'm currently developing CyberSurfer, a hoverboard racing game with motion controls.</p>

  <div class="video-container">
    <iframe width="480" height="270" src="https://www.youtube.com/embed/C_C8NKgEbKs?si=czY9OFGxH765JNnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
  <br>
  <h2 class="home-subtitle">Connect With Me</h2>
  <a href="https://github.com/CalebVaccaro" class="project-button">GitHub</a>
  <a href="https://www.linkedin.com/in/caleb-vaccaro-3a7707120/" class="project-button">LinkedIn</a>
</div>
{% endblock %}
