{% macro projectPreview(url, text) %}
    <a href="{{ url }}" class="project-button">{{ text }}</a>
{% endmacro %}

{% macro connectWithMe() %}
<section class="connect-with-me">
  <h2>Connect With Me</h2>
  <ul>
    <li><a href="https://github.com/CalebVaccaro" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/caleb-vaccaro-3a7707120/" target="_blank">LinkedIn</a></li>
  </ul>
</section>
{% endmacro %}