---
layout: layout.njk
---

{% block content %}
  <div class="project-container">
    <h1 class="project-title">{{ title }}</h1>
    <img class="project-image" src="{{ imagePath }}" alt="{{ title }} Screenshot">
    
    <div class="project-details">
      <h2>Overview</h2>
      <p>{{ detailedDescription }}</p>
    </div>
  </div>
  {{ content | safe }}
  <div class="project-technologies">
      <h2>Technologies Used</h2>
      <ul>
        {% for technology in technologies %}
          <li>{{ technology }}</li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}