---
layout: layout.njk
---

{% block content %}
    <div class="resume-page">
        <h1>{{ title }}</h1>
        <p>You can download my resume by clicking the link below.</p>
        <p><a class="resume-link" href="/media/resume/CalebVaccaroResume.pdf" target="_blank">View Resume</a></p>
        <div class="resume-image-container">
            <img src="/media/resume/flocking.gif" alt="Flocking simulation" />
        </div>
    </div>
{% endblock %}

