---
layout: project.njk
---

{% block content %}
<p>{{ content | safe }}</p>
{% for image in inlineImages %}
<div class="spacebarvr-inline-image">
  <p><strong>{{ image.description }}</strong></p>
  <img src="{{ image.src }}" alt="{{ image.alt }}" />
</div>
{% endfor %} {% endblock %}
<h2>Day of Play Event Showing</h2>
<p>Fusing the physical and digital worlds, Spacebar VR was a hit at the Day of Play event at the <a href="https://www.rcsdk12.org/montessori">Montessori School (#53)</a> in Rochester, NY. Students were able to push themselves to the physical limit and build a strong understanding of using virtual technology for physical play.</p>
  <div class="project-video">
      <video width="100%" controls>
        <source src="/media/spacebarvr/spacebar-dayofplay.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
<br />